{
    "env": {
        "browser": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
      ],
      "rules": {
        "react/prop-types":false,
        "no-console":0,
        "no-unused-vars":0
    }
}